.list {
  display: block;
  line-height: 1.4;
  letter-spacing: 0.2px;
  background-color: rgba(189,189,189,0.1);
  padding: 15px 8px 15px 17px;
  border-radius: 5px;
  width: 40%;
  margin: 10px;
  ul {
    padding: 5px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid darkgrey;
      list-style: none;
      button {
        background: none;
        border: none;
        color: white;
        svg {
          cursor: pointer;

          font-size: 20px;
        }
      }
    }
    li:last-child {
      border: none;
    }
  }
}